<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
<div class="text-center">
    <h1></h1>
    <h1>Dear <%= user.name %> you have successfully registered!</h1>
 
    <h3>Thank you for choosing us!</h3>
    
    <a href="/users/logout" class="btn btn-primary btn-circle">Logout</a>
     <a href="/setting" class="btn btn-primary btn-circle" style="margin: 2px;"" >Setting</a>
    <a href="https://ej0002-restaurant-website-1.glitch.me" class="btn btn-info">Go to site</a>
  </div>
                                                                                
  
  